
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
}

li {
    float: right;
}

li a {
    display: block;
    color: #111;
    text-align: center;
    text-decoration: none;
    padding:14px 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: aquamarine
}
.bg-img {
  /* The image used */
  background-image: url("../img/header_bg.jpg");

  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}



