ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
}

 li {
    float: right;
}

 li a {
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    padding-right: 16px;
    padding-left: 16px;
}
.home-navbar ul{
    background-color:transparent 
}
.home-navbar li a{
  color: #111;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: aquamarine
}
.bg-img {
  /* The image used */
  background-image: url("../img/header_bg.jpg");

  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}



